.footer-callback__sprites-box {
	display: flex;
	align-items: flex-end; 
}

.vk, .facebook-logo, .twitter-logo-silhouette, .instagram {
	background: url('../img/web-sprites.png') no-repeat;
	display: inline-flex;
	cursor: pointer;
	margin-right: 10px;
}

.vk {
	background-position: -350px -10px;
	width: 48px; 
	height: 48px;
	&:hover {
		background-position: -418px -10px;
	}
}

.facebook-logo {
	background-position: -486px -10px;
	width: 48px; 
	height: 48px;
	&:hover {
		background-position: -10px -10px;
	}
}

.twitter-logo-silhouette {
	background-position: -214px -10px;
	width: 48px; 
	height: 48px;
	&:hover {
		background-position: -282px -10px;
	}
}

.instagram {
	background-position: -78px -10px;
	width: 48px; 
	height: 48px;
	&:hover {
		background-position: -146px -10px;
	}
}

