.footer-callback__sprites-box {
	display: flex;
	align-items: flex-end; 
}

.vk, .facebook-logo, .twitter-logo-silhouette, .instagram {
	background: url('../img/sprites.png') no-repeat;
	display: inline-flex;
	cursor: pointer;
	margin-right: 30px;
}

.vk {
	background-position: -7px -14px;
	width: 35px;
	height: 21px;
}

.facebook-logo {
	background-position: -67px -12px;
	width: 16px;
	height: 28px;
}

.twitter-logo-silhouette {
	background-position: -111px -12px;
	width: 29px;
	height: 25px;
}

.instagram {
	background-position: -161px -12px;
	width: 25px;
	height: 25px;
}

